.memo-form {
  display: flexbox;
  text-align: center;
  height: 400px;
}


.eat-select {
  height: 40px;
  width: 100px;
}

.memo-area {
  height: 200px;
  width: 80%;
}

.memo-display {
  height: 200px;
  width: 100%;
  overflow-y: scroll;
  border: 2px double;
}

.memoreco {
  margin: 10px 0 30px 100px ;
}

.memo-name {
  font-size: large;
  color: #67c5ff;
}

/* --------------------- submit CSS ------------------------------------------------- */

.memo-form .memo-submit {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 12px 0 8px;
  text-decoration: none;
  color: #67c5ff;
  transition: .4s;
}

.memo-form .memo-submit :before {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  top:100%;
  left: 0;
  border-radius: 3px;
  background:#67c5ff;
  transition: .2s;
}

.memo-form .memo-submit :after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  top:0;
  left: 0;
  border-radius: 3px;
  background:#67c5ff;
  transition: .2s;
}

.memo-form .memo-submit :hover:before {
  top: -webkit-calc(100% - 3px);
  top: calc(100% - 3px);
}

.memo-form .memo-submit:hover:after {
  top: 3px;
}