.new-record {
  font-family: serif;
  font-size: 30px;
  color: black;
  margin-bottom: 70px;

  animation-name: opa1;
	animation-delay: 2S;
	animation-duration: 1S;
  animation-fill-mode: both;
  
}

.memory {
  
}

.memory-title {
  position: relative;
  padding: 15px;
  border: 4px solid #000;
}

.memory-title:before,
.memory-title:after {
  position: absolute;
  left: 0;
  width: 100%;
  content: '';
  border-top: 4px dotted #000;
}

.memory-title:before {
  top: 6px;
}

.memory-title:after {
  bottom: 6px;
}