.record-measurement {
  display: flex;
  justify-content: space-around;
}

.record {
  /* border: 1px solid #003300; */
  height: 250px;
  width: 450px;
  overflow-y: scroll;
}

.log {
  border: 1px solid #003300;
}

.pulldown {
  display: flex;
}

.delete {
  text-decoration: none;
  color: crimson;
  border: 1px crimson solid;
  margin-left: 120px;
  padding: 0 5px;
}

.log-date {
  margin-left: 30px;
}

.log-content {
  margin-left: 30px;
}

.weight {
  color: #006600;
}

.fitness {
  color: #006633;
}